/*Propriedades do navegador*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Ajustes na raiz do documento */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-dark-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --switch-bg-url: url(./assets/moon-stars.svg)
}

/* Cores e urls do modo claro */
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-light-mobile.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg)
}

/* Todo corpo da página*/
body * {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

/*Planos de fundo do projeto*/
body {
  background: var(--bg-url) no-repeat top center/cover;
}

/*Caixa do conteúdo principal*/
#container {
  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
}

/*Foto de perfil*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

/* Username */
#profile p {
  font-weight: 500;
  line-height: 24px;
  padding: 8px;
}

/* Botão do modo claro*/
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* Links */
ul {  
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  /* Tamanho e alinhamento dos botões */
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: center;
  
  /* cores e borda dos botões */
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  /* Transparência do botão */
  backdrop-filter: Blur(4px);
  -webkit-backdrop-filter: Blur(4px);

  /* Estilização do texto */
  text-decoration: none;
  font-weight: 500;
  
  transition: background 0.2s;
}

/* Hover do botão */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 0.5px solid var(--text-color);
}

/* Ícones das redes sociais */
#redes-sociais {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#redes-sociais a:hover {
  background: var(--highlight-color);
}